body
{
    background-color: black;
    color: white;
    padding: 1em;
}
button
{
    color: white;
    background-color: black;
    border: 0.1em solid white;
    transition: 0.2s;
    border-radius: 0.5em;
}
button:hover
{
    background: gray;
    border: 0.1em solid white;
    transition: 0.2s;
}
#title
{
    text-align: center;
}
.row
{
    display: flex;
    justify-content: space-evenly;
}
.type_title
{
    text-align: center;
}
hr
{
    width:90%;
}

#middle
{
    justify-content: space-between;
}

#add_element_menu
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    width: 20%;
}
#add_element_menu div
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#add_element_menu select
{
    width: 90%;
}

#styles_selection
{
    margin-bottom: 1em;
}

#add_as_current_button:disabled
{
    color:gray;
    border-color: gray;
    background-color: black;
}

#page
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    width:fit-content;
    height: fit-content;
}

/* Iframe propper display */
#wrap
{
    overflow:auto;
    width: 50vw;
    height: 50vh;
    background-color:white;
}
#canvas
{
    overflow:hidden;
}
#embed
{
    height: 100vh;
    width: 100vw;
    border: 1em dashed gray;
    box-sizing: border-box;
}
/* -------------- */

#choices
{
    height: 2em;    
}

#structure
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    width: 60em;
}
#export
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#export button
{
    margin-top: 1%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 40em;
    border-radius: 1em;
}
.selected
{
    background-color:white;
    color:black;
}
.selected font
{
    color:black;
}